SECRET_KEY=django-insecure-development-key

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=nk_ai
DB_USER=nk_ai
DB_PASSWORD=nk_ai_password
DB_HOST=postgres
DB_PORT=5432

REDIS_URL=redis://redis:6379/1

# ==========================
# CELERY
# ==========================

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# ==========================================================
# OpenSearch
# ==========================================================

OPENSEARCH_HOST = env(
    "OPENSEARCH_HOST",
    default="http://opensearch:9200",
)

OPENSEARCH_USERNAME = env(
    "OPENSEARCH_USERNAME",
    default="",
)

OPENSEARCH_PASSWORD = env(
    "OPENSEARCH_PASSWORD",
    default="",
)